.login-container {
  height: 100vh;
}

.login-div {
  margin-top: 100px;
}

.login-button {
  background-color: #fba70b;
  border: #fba70b solid;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  margin-top: 10px;
  font-size: 18px;
  color: white;
}

.login-error {
  margin: 5px 0px;
  padding: 0px;
}
