/* * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

.logo {
  letter-spacing: 2px;
  font-size: 22px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  align-items: center;
  list-style: none;
  margin: 0px;
  letter-spacing: 2px;
  font-size: 16px;
} */

.nav {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.menu-items {
  display: flex;
  letter-spacing: 2px;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  min-height: 8vh;
  align-items: center;
  justify-content: center;
  /* background-color: azure; */
}

.log-out-btn {
  margin: 0px auto;
  background-color: #fba70b;
  border: #fba70b solid;
  border-radius: 20px;
  color: aliceblue;
  letter-spacing: 2px;
}

.main-nav {
  opacity: 1;
}
